<!DOCTYPE html>
<html>
    <head>
        <title>Page Not Found - 404</title>
    </head>
    <body style="font-family:Arial,sans-serif; background-color:#f4f6f8; margin:0;padding: 0;">
        <div style="text-align: center; padding: 50px;">
        <h1 style="color: #ff5733;font-size: 3rem;margin-bottom: 10px;">404 - Page Not Found</h1>
        <p style= "color: #555; font-size: 1.2rem; margin-bottom: 20px;">Oops! The page you're looking for  does not exist.</p>
        <p><a href='/' style="display: inline-block;padding: 12px 25px;background-color: #ff5733;color: white;text-decoration: none;border-radius: 5px;font-weight: bold;">Go back to home</a></p>
        </div>
    </body>
</html>
        