<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
    </head>
    <body>
        <h1>Contact Us</h1>
        <p>If you have any questions, feel free to reach out to us!</p>
        <h3>Our  contact Information</h3>
        <ul>
            <li><strong>Phone:</strong>+91 9876543210</li>
            <li><strong>Email:</strong>contact@restaurant.com</li>
            <li><strong>Address:</strong>123 Food Street,Hyderabad,India</li>
        </ul>
    </body>
    </html>