<!DOCTYPE html>
<htmL>
    <head>
        <title>{{restaurant_name}}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static'style.css' %}">
            </head>
    <body>
        {% extends 'base.html' %}
        <h1 style= "text-align:center;color: #ff5733;">Welcome to {{restaurant_name}}</h1>
        <h1>Welcome to {{restaurant_name}}
        <h1>Restaurant Menu</h1>
        {% for item in menu_items %}
        <div class = "menu-item">
            <h2>{{item.name}} - {{item.price}} </h2>
            <p>{{item.description}}</p>
        </div>
    {% end %}
    <p>No menu items available.</p>
    <% endfor %>
    </body>
    </html>