body{
    font-family:Arial,sns-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
h1,h2 {
    color: #333;
    text-align : center;
    margin-top:20px;
}
.item{
    background-color: white;
    margin : 20px auto;
    padding: 20px;
    width : 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}